@charset "UTF-8";

/* Form Layout Styles */

input {
  width: 100%
}
.row {
  background-color: pink;
  font-family: "Trebuchet MS",sans-serif;
  font-style: oblique;
  font-size: 1em;
}
.row2 {
  font-size: 1.4em;
  font-family: "Trebuchet MS",sans-serif;
  font-style: oblique;
  

}
h4 {
  font-size: 1.4em;
}

/* Legend Styles */
